{%extends "music/base.html"%}
{% block title %}{{album.album_title}}{% endblock %}
	{% block body %}
	<img src = "{{album.album_logo.url}}" height = "300" width = '300' > 

	<h2> {{album.album_title}}</h2>
	<h4> {{album.artist}} </h4>

	{% if error_message %}
		<p><strong> {{error_message}}   </strong></p>
	{% endif %}


	<form action = "{% url 'music:favourite' album.id %}"  method = "post">
		{% csrf_token %}
		{% for song in album.song_set.all %}
			<input type="radio" id  = "song{{forloop.counter}}"  name="song" value = "{{song.id}}">{{song.song_title}}</input>
			<label for="song{{forloop.counter}}">
				{% if song.is_favourite %}
					<img src = "http://i.imgur.com/b9b13Rd.png">	
				{% endif %}
			</label>
			<audio controls>
				<source src = "{{song.file.url}}" type = 'audio/mpeg'>
			</audio>
		<br>
		{% endfor %}
		<input type="submit" value="Favourite"></input></input>
	</form>
	{% endblock %}